{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}KokoOn{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/kokoon_style.css' %}">
</head>
<body>
  <header>
      <h1>
          <a href="{% url 'KokoOn:index' %}" style="text-decoration: none; color: inherit;">
              KokoOn -心音-
          </a>
      </h1>

      <nav id="auth_nav">
          <ul class="auth-menu">
              {% if user.is_authenticated %}
                  <li><a href="{% url 'accounts:logout' %}" class="btn-auth btn-logout">LOGOUT</a></li>
              {% else %}
                  <li><a href="{% url 'accounts:login' %}" class="btn-auth btn-login">LOGIN</a></li>
                  <li><a href="{% url 'accounts:signup' %}" class="btn-auth btn-signup">SIGNUP</a></li>
              {% endif %}
          </ul>
      </nav>
  </header>

    <div id="wrapper">
        <main id="main">
            {% block contents %}{% endblock %}
        </main>

        <aside id="sidebar">
            <section>
                <h2>MENU</h2>
                <ul>
                    <li><a href="{% url 'KokoOn:index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'KokoOn:mypage' %}">My Page</a></li>
                        <li><a href="{% url 'password_reset' %}">Password Reset</a></li>
                    {% endif %}
                </ul>
            </section>
        </aside>
    </div>

    <footer>
        <small>&copy; 2026 KokoOn</small>
    </footer>
</body>
</html>