{% load static %}

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for record in object_list %}
        <div class="col">
          <div class="card shadow-sm">
              
            <div class="user-header">
                <img src="{% static 'img/KokoOn_account.png' %}" alt="Avatar" class="post-avatar me-2">
                <div class="user-details">
                    <a href="{% url 'KokoOn:user_list' user=record.user.id %}" class="username-link">
                        <strong>{{record.user.username}}</strong>
                    </a>
                    <small class="text-muted d-block">{{ record.category.title }}</small>
                </div>
            </div>

            <div class="card-body post-content-area">
                <h5 class="card-title">{{record.title}}</h5>
                <p class="card-text">
                    {{record.comment|truncatechars:100}} </p>
            </div>

            <div class="card-footer post-actions">
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button"
                            class="btn btn-sm btn-primary"
                            onclick="location.href='{% url 'KokoOn:mood_detail' record.pk %}'">
                            詳細を見る</button>
                    <span class="badge bg-secondary">{{record.category.title}}</span>
                </div>
            </div>

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
