{% if is_paginated %}
<div class="pagination-wrapper">
    <nav>
        <ul class="pagination-list">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">前へ</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><span>{{ num }}</span></li>
                {% else %}
                    <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">次へ</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}